<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer's Mart</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" type="text/css" href="css/style1.css">

</head>
<body>

<!-- header section starts  -->

<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="#" class="logo">Organico<span></span></a>

    <nav class="navbar">
        
    </nav>

    <div class="icons">
       
    </div>

</header>
<section class="home" id="home">

    <div class="content">
        <h3>fresh fruits and vegetables</h3>
        <span> Customer Or a Farmer</span>
        <p></p>
        <a href="/farmer" class="btn">Farmer</a>
        <a href="/customer" class="btn">Customer</a>
    </div>
</section>
</body>
</html>