@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    box-sizing: border-box;
}
body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:green;
    font-family: 'monserrat',sans-serif;
    min-height: 100%;
    margin: 10%;
}
.container{
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background: #f6f5f7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 28px rgba(0,0,0,0.22)
}
.sign-up,.signin
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6% ease-in-out;

}
.sign-up{
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.signin{
    width: 50%;
    z-index: 2;
}
form{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
h1{
    font-weight: bold;
    margin: 0;

}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
}
input{
    background: #eee;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}
a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
button{
    color: #fff;
    background: #015825;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #015825;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}
button:active{
    transform: scale(0.90);
}
#signin,#signup{

    background-color: transparent;
    border: 2px solid #fff;
}
.container.right-panel-active .signin{
    transform: translateX(100%);
}
.container.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6% ease-in-out;
    z-index: 100;
}
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.overlay{
    position: relative;
    color: #fff;
    background:rgb(13, 150, 13);
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right,rgb(19, 124, 19),rgb(15, 153, 15));
    transform: translateX(0);
    transition: transform 0.6% ease-in-out;
}
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.overlay-left,.overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6% ease-in-out;
}
.overlay-left{
    transform: translateX(-20%);
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform:translateX(20%);
}
.social-container{
    margin: 20px 0;
}
.social{
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.header
{
    height: 100vh;
    
    
}
.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-color: green;
}
@media(min-aspect-ratio:1/1)
{
    .video-background
    {
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:1/1)
{
    .video-background
    {
        width: auto;
        height:100%;
    }
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(https://www.timeskuwait.com/news/wp-content/uploads/2019/06/fruit-1068x736.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding:.22rem 20.5rem; 
}

.home .content{
    max-width: 50rem;
    /* background:#fff; */
}
.home .content h3{
    font-size: 6rem;
    color:rgb(255, 255, 255);
}

.home .content span{
    font-size: 3.5rem;
    color:var(--pink);
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#999;
    padding:1rem 0;
    line-height: 1.5;
}